extends layout

block content
  //- ABOUT ME CONTENT SECTION
  div(id='about-me')
    h1(class='section-title') About me
    p(class='about-me-info') With experience in both the front and back end of web development, I have a clear understanding of the full workflow process of creating, updating, and maintaining websites and web applications. However, my expertise is in front-end development. I believe that the experience that the user has with the website can be massively changed and improved by a well-designed front-end.
    p(class='about-me-info') I began my experience in web development, learning how to created web applications using the flask framework and the python scripting language. From there, I landed my first job in web development about a year later. On my own, I learned the in's and out's of the field learning essential skills such as node.js (javascript), HTML, CSS, SQL, Express framework, Mongo DB, and much more.
  //- SKILLS CONTENT SECTION
  div(class='skills')
    h1(class='section-title' style='text-align: left;') Skills
    div(class='skill')
      h2(class='skill-title') HTML
      h1(class='skill-proficiency') Advanced
    div(class='skill') 
      h2(class='skill-title') Javascript
      h1(class='skill-proficiency') Advanced
    div(class='skill')
      h2(class='skill-title') CSS
      h1(class='skill-proficiency') Advanced 
    div(class='skill')
      h2(class='skill-title') Git/Github
      h1(class='skill-proficiency') Proficient
    div(class='skill')
      h2(class='skill-title') SQL
      h1(class='skill-proficiency') Advanced
    div(class='skill')
      h2(class='skill-title') Wordpress
      h1(class='skill-proficiency') Advanced
  
