extends layout

block content
    div(class='project-container')
        div(class='project-image')
            img(src=image)
        div(class='project-info')
            h1= title
            p(style='color: #666666')= summary