extends layout

block content
    h1(class='portfolio-header') My Resume
    p(class='portfolio-subheader') View my experience, education, and qualifications below
    a(href='https://res.cloudinary.com/justin-bresee/image/upload/v1566690672/Justin_Bresee_-_Resume_vuq3vp_1_el1wyj.pdf' download target='_blank') 
        img(src='https://res.cloudinary.com/justin-bresee/image/upload/v1566689891/resume_1_iqjr6q.png' id='resume')