extends layout

block content
    h1(class='portfolio-header') My Resume
    p(class='portfolio-subheader') View my experience, education, and qualifications below
    a(href='https://res.cloudinary.com/justin-bresee/image/upload/v1569544288/Justin_Bresee_Resume_wajxbn.pdf' download target='_blank') 
        img(src='https://res.cloudinary.com/justin-bresee/image/upload/v1569544530/resume_phcocb.png' id='resume')