extends layout

block content
    h1(class='portfolio-header') My Resume
    p(class='portfolio-subheader') View my experience, education, and qualifications below
    img(src='https://res.cloudinary.com/justin-bresee/image/upload/v1566689891/resume_1_iqjr6q.png' id='resume')